.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  border-radius: 4px;

  background: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.modal-call {
  display: block;
  margin-bottom: 30px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.feedback-form {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 370px;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.feedback-form-field {
  position: relative;
  margin-bottom: 28px;

  &.textarea {
    margin-bottom: 20px;
  }

  &.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

.feedback-form-field-input {
  @extend %modal-feedback-form-field-text;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 41px;
  padding-right: 17px;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.feedback-form-field-label {
  position: absolute;
  top: 50%;
  left: 41px;

  font-weight: 400;
  line-height: 1.1429;
  letter-spacing: 0.01em;

  color: $secondary-text-color;

  transform: translate(0, -50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .feedback-form-field-input:focus + &,
  .feedback-form-field-input:not(:placeholder-shown) + & {
    color: $accent-color;

    transform: translate(-24px, -40px);
  }

  .feedback-form-field-textarea + & {
    position: absolute;
    top: 11px;
    left: 15px;

    font-weight: 400;
    line-height: 1.1428;
    letter-spacing: 0.01em;
    color: $secondary-text-color;

    transform: translate(0);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .feedback-form-field-textarea:focus + &,
  .feedback-form-field-textarea:not(:placeholder-shown) + & {
    color: $accent-color;

    transform: translateY(-32px);
  }

  .feedback-form-field-checkbox + & {
    position: static;

    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.1667;
    letter-spacing: 0.03em;
    color: $secondary-text-color;

    transform: none;
    transition: none;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.7143;
    }
  }
}

.feedback-form-field-icon {
  position: absolute;
  top: 50%;
  left: 15px;

  width: 18px;
  height: 18px;

  fill: $primary-text-color;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .feedback-form-field-input:focus ~ &,
  .feedback-form-field-input:not(:placeholder-shown) ~ & {
    fill: $accent-color;
  }
}

.feedback-form-field-textarea {
  @extend %modal-feedback-form-field-text;
  height: 120px;
  padding: 11px 15px;
  resize: none;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.feedback-form-field-checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback-form-field-checkbox {
  + .feedback-form-field-label::before {
    content: '';
    display: inline-flex;
    width: 16px;
    height: 15px;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    margin-right: 7px;

    background-color: $primary-background-color;
  }
}

.feedback-form-field-checkbox:checked {
  + .feedback-form-field-label::before {
    border: 2px solid $accent-color;

    background-color: $accent-color;
    background-image: url(../images/svg/check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.feedback-form-field-label-text-link {
  text-decoration-line: underline;
  color: $accent-color;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background: $primary-background-color;
}

.modal-close-button-icon {
  width: 18px;
  height: 18px;

  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-close-button:hover &,
  .modal-close-button:focus & {
    fill: $accent-color;
  }
}
