.social-network-logo {
  width: 20px;
  height: 20px;

  fill: $primary-icon-fill;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-networks-pages-list-item-link:hover &,
  .social-networks-pages-list-item-link:focus & {
    fill: $secondary-icon-fill;
  }
}
