$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$tertiary-text-color: #ffffff;

$primary-background-color: #ffffff;

$primary-icon-fill: #afb1b8;
$secondary-icon-fill: #ffffff;

$accent-color: #2196f3;
